<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">

body{
    margin:0;
    background-color: #635e85;
}


button{
    position:relative;
    margin-left:78%;
    margin-top:0;
    width: 12%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


form{

  display: flex;
  align-items: center; /* Vertical align the elements to the center */
}

</style>
</head>

<body>

        <form action ="/logout">
            <h1> Welcome </h1> <button type="submit"> Log Out</button>
        </form>

</body>
</html>